body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.contact-form {
  align-content: center;
  width: 400px;
  height: 400px;
  padding: 80px 40px;
  background: rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.contact-form p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.contact-form input {
  width: 100%;
  margin-bottom: 20px;
}
.contact-form input[type="email"],
.contact-form input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.contact-form input[type="submit"] {
  height: 30px;
  color: #fff;
  font-size: 15px;
  background: red;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 25%;
}
.contact-form a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
input[type="checkbox"] {
  width: 20%;
}
Link {
  text-align: center;
}

.livesession-bg {
  background: url(../site_assets/meeting.png) no-repeat center;
  background-size: 100% 100%;
  height: 900px;
}
