.quote-carding {
  border-radius: 4px;
  transition: 0.9s transform cubic-bezier(0.155, 1.105, 0.295, 2.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: inline-block;
  margin-right: 20px;
  border-radius: 12px;
}

.quote-carding:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.quote-text {
  font-family: algerian;
  color: brown;
  font-size: xxx-large;
}

.home-background-low {
  background: url(../site_assets/home-lower-bg.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 1000px;
}
