.navbar-brand {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
}

.navbar {
  max-height: 90px;
  font-size: 20px;
  vertical-align: 50px;
  background-color: rgb(207, 205, 205);
  position: relative;
}

.buttons {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.9s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: inline-block;
  margin-right: 20px;
  border-radius: 12px;
}

.buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
