.navbar-brand {
  width: 160px;
  height: 100px;
  padding: 0px 0px 5px 0px;
}

.navbar {
  min-height: 5px;
  max-height: 70px;
  font-size: 18px;
}

.icon-box-icons {
  text-align: center;
  font-size: xxx-large;
}
