.navbar-brand {
  width: 160px;
  height: 100px;
  padding: 0px 0px 5px 0px;
}

.navbar {
  min-height: 5px;
  max-height: 70px;
  font-size: 18px;
}

.icon-box-icons {
  text-align: center;
  font-size: xxx-large;
}

.card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: inline-block;
  margin-right: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-top-margin {
  margin-top: 40px;
}
