.site-footer {
  background-color: rgba(78, 78, 78, 0.767);
  width: auto;
  border-top: groove 10px rgb(88, 88, 88);
}

.border-footer {
  background-color: rgb(94, 94, 94);
  width: 100%;
  margin-top: -15px;
  height: 20px;
}

.btt-btn {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-title-main {
  font-weight: bolder;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-variant: small-caps;
  text-shadow: 2px 2px #000000;
}

.foot-note {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px #000000;
}

.footer-icons {
  font-size: xx-large;
  color: rgb(255, 255, 255);
}

.social-icons {
  padding: 10px;
  padding-top: 30px;
  font-size: 40px;
}
.social-icons-deco {
  text-decoration: none;
  color: white;
}

.quick-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px #000000;
  text-decoration: none;
}

.quick-link:hover {
  color: aqua;
}

.copyright {
  border-style: groove;
  border-width: thick;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
}
