.quote-carding {
  transition: 1s transform cubic-bezier(0.155, 1.105, 0.295, 0.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: inline-block;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border-style: groove;
}
.quote-carding:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgb(18, 168, 255), 0 4px 8px rgb(206, 206, 206);
}

.quote-text {
  font-family: algerian;
  color: red;
  font-size: xxx-large;
}

.home-background-low {
  background: url(../site_assets/about_lower_bg3.jpg) no-repeat center;
  background-size: 100% 100%;
  height: auto;
}

.dest-img {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.home-text-right {
  text-align: right;
}

.img-fluid {
  padding: 30px;
  height: 500px;
  border-radius: 70px;
}

.main {
  width: 50%;
  padding: 30px 20px;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .main {
    width: 100%;
  }
}
.main .top-text {
  width: calc(100% - 80px);
}
.main .top-text h3 {
  font-size: 50px;
  font-family: algerian;
  color: rgb(255, 0, 0);
  margin-right: -70px;
}
.main p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  font-family: nyala;
}

.head-button-low {
  font-size: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.9s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: inline-block;
  text-align: left;
  width: 400px;
  font-size: x-large;
  font-weight: bold;
  padding-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
  background-color: rgb(240, 239, 239);
}
